
<launch>
  <arg name="algorithm_to_run" default="RAGH"/>

  
  <node pkg="multi_target_tracking" type="multi_target_tracking_coord_RAG" name="coordination_1">
    <param name="drone_name" value="Drone1"/>
    <param name="robot_index_ID" type="int" value="1"/>
    <param name="number_of_pursuers" value="5"/>
    <param name="number_of_evaders" value="10"/>  
    <param name="algorithm_to_run" value="$(arg algorithm_to_run)"/>

    <param name="camera_name" value="front_center"/>
    <param name="image_topic" value="/camera_1/image"/>
    <param name="communication_range" type="double" value="50"/>
  </node>

  <node pkg="multi_target_tracking" type="multi_target_tracking_coord_RAG" name="coordination_2">
    <param name="drone_name" value="Drone2"/>
    <param name="robot_index_ID" type="int" value="2"/>
    <param name="number_of_pursuers" value="5"/>
    <param name="number_of_evaders" value="10"/>  
    <param name="algorithm_to_run" value="$(arg algorithm_to_run)"/>

    <param name="camera_name" value="front_center"/>
    <param name="image_topic" value="/camera_2/image"/>
    <param name="communication_range" type="double" value="50"/>
  </node>

  <node pkg="multi_target_tracking" type="multi_target_tracking_coord_RAG" name="coordination_3">
    <param name="drone_name" value="Drone3"/>
    <param name="robot_index_ID" type="int" value="3"/>
    <param name="number_of_pursuers" value="5"/>
    <param name="number_of_evaders" value="10"/>  
    <param name="algorithm_to_run" value="$(arg algorithm_to_run)"/>

    <param name="camera_name" value="front_center"/>
    <param name="image_topic" value="/camera_3/image"/>
    <param name="communication_range" type="double" value="50"/>
  </node>

  <node pkg="multi_target_tracking" type="multi_target_tracking_coord_RAG" name="coordination_4">
    <param name="drone_name" value="Drone4"/>
    <param name="robot_index_ID" type="int" value="4"/>
    <param name="number_of_pursuers" value="5"/>
    <param name="number_of_evaders" value="10"/>  
    <param name="algorithm_to_run" value="$(arg algorithm_to_run)"/>

    <param name="camera_name" value="front_center"/>
    <param name="image_topic" value="/camera_4/image"/>
    <param name="communication_range" type="double" value="50"/>
  </node>

  <node pkg="multi_target_tracking" type="multi_target_tracking_coord_RAG" name="coordination_5">
    <param name="drone_name" value="Drone5"/>
    <param name="robot_index_ID" type="int" value="5"/>
    <param name="number_of_pursuers" value="5"/>
    <param name="number_of_evaders" value="10"/>  
    <param name="algorithm_to_run" value="$(arg algorithm_to_run)"/>

    <param name="camera_name" value="front_center"/>
    <param name="image_topic" value="/camera_5/image"/>
    <param name="communication_range" type="double" value="50"/>
  </node>


</launch>
